name: $(Build.DefinitionName)_$(Build.SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
 
trigger:
  branches:
    include:
    - master
    - develop
  paths:
    exclude:
    - README.md
 
pr:
  branches:
    include:
    - master
    - develop

stages:
- stage: Dev
  variables:
    serviceDirectoryName: ''
    fileSharePath: ''
  displayName: 'DEVELOPMENT'
  # condition: or(eq(variables['Build.SourceBranch'], 'refs/heads/develop'), and(eq(variables['Build.Reason'], 'PullRequest'), eq(variables['System.PullRequest.TargetBranch'], 'refs/heads/develop')))
  jobs:
    - job: DevBuild
      displayName: 'Build Develop Branch'
      pool:
        name: DEV-UAT-POOL
        demands: 'agent.name -equals RHEA'
      steps:
      - task: DotNetCoreCLI@2
        displayName: Restore
        inputs:
          command: restore
          projects: '$(Parameters.RestoreBuildProjects)'

      - task: DotNetCoreCLI@2
        displayName: Build
        inputs:
          projects: '$(Parameters.RestoreBuildProjects)'
          arguments: '--configuration $(BuildConfiguration)'

      - task: DotNetCoreCLI@2
        displayName: Test
        inputs:
          command: test
          projects: '$(Parameters.TestProjects)'
          arguments: '--configuration $(BuildConfiguration)'

      - task: DotNetCoreCLI@2    
        displayName: Publish
        inputs:
          command: publish
          publishWebProjects: True
          arguments: '--configuration $(BuildConfiguration) --output $(build.artifactstagingdirectory)'
          zipAfterPublish: True

      - task: PublishBuildArtifacts@1
        displayName: 'Publish Artifact'
        inputs:
          PathtoPublish: '$(build.artifactstagingdirectory)'
        condition: succeededOrFailed()
