@model Users
@{
    ViewData["Title"] = "Add User";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-sm">
                <div class="card-header bg-info text-white">
                    <h2 class="mb-0">Create New User</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post">
                        @* <div asp-validation-summary="All" class="text-danger"></div> *@
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Name</label>
                            <input asp-for="Name" type="text" class="form-control" placeholder="eg. Jeremiah F Alfred">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" type="email" class="form-control" placeholder="jeremiah.alfred@gtbank.com">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Username</label>
                            <input asp-for="Username" type="text" class="form-control" placeholder="eg. jeremiah.alfred">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Enter password">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Create Entry</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
